* {
    color: white;
}

/* main */
body {
    margin: 0;
    margin-left: 20px;
    margin-top: 7.8rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 22, 63);
    padding-bottom: 6rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(10, 96, 99);
    text-align: center;
    padding: 1rem;
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_header {
    margin-left: 5rem;
    height: 3rem;
}

.ul_header {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 5rem;
}

.li_header a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 5px;
    border-radius: 5px;
}

.nav_header .logo-perfil-container a:hover {
    background-color: rgb(22, 22, 63);
}

.li_header a:hover {
    background-color: rgb(72, 122, 122);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(60, 60, 73);
}

.ul_footer {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    color: white;
    height: 5rem;
    justify-content: center;
}

p {
    margin-right: 2rem;
    font-size: 1rem;
}