.reservas-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservas-container h2 {
    color: white;
    margin-bottom: 2rem;
    text-align: left;
}

.mis-reservas {
    width: 600px;
    margin: auto;
    margin-top: 0;
    background-color: rgb(132, 163, 221);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.mis-reservas input {
    display: none;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 114, 175);
    padding: 1rem;
    cursor: pointer;
    margin-top: 0.7rem;
    border-radius: 8px;
    transition: 0.2s;
}

.item:hover {
    background-color: rgb(70, 100, 160);
}

.item p {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.8;
}

.derecha {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flecha {
    transition: transform 0.3s;
}

.contenido {
    max-height: 0;
    overflow: hidden;
    background-color: rgb(100, 130, 190);
    margin-top: 0.3rem;
    border-radius: 8px;
    padding: 0 1rem;
    transition: all 0.3s ease;
}

input:checked+.item+.contenido {
    max-height: 200px;
    padding: 1rem;
}

input:checked+.item .flecha {
    transform: rotate(180deg);
}